// FONT
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");
$font__default: "Nunito", sans-serif;
$font-size__default: 16px;
// COLORS
$color__default: #222;
$color__led-blue: #16d8ff;
$color__led-green: #a3f400;
$color__led-yellow: #ffd800;
